.next
.next/*
*.next/
.next/
.env
.env.build
node_modules/
/.VSCodeCounter
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pids
logs
results
node_modules
.node_history
Desktop.ini
$RECYCLE.BIN/
.tmp
*.log
*.sql
*.sqlite
*.sqlite3
*#
ssl
public/uploads/*
!public/uploads/.gitkeep
.vscode/
.VSCodeCounter/
