@import 'themes';

html,
body {
  padding: 0;
  margin: 0;
  background: $c-bg;
  color: #fff;
  font-family: $primary-font;
  overflow-y: hidden;
  overflow-x: hidden;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

#__next > div > main::-webkit-scrollbar {
  width: 0.65rem;
}

#__next > div > main::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
#__next > div > main::-webkit-scrollbar-thumb {
  background-color: $c-primary;
  outline: 1px solid slategrey;
}

.bottomfooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  .text {
    color: slategrey;
    a {
      color: $c-secondary;
    }
  }
  p {
    a {
      color: $c-secondary;
    }
  }
}

#language-selection-menu {
  margin: 0 0 0.2rem 0.2rem;
}
