@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

$c-primary: '#246EB9';
$c-secondary: '#16ff4c';
$c-error: '#F06543';
$c-warning: '#F5EE9E';
$c-info: '#16c9ff';
$c-bg: '#FDFFFC';
$white: #fff;
$black: #000000;

$primary-font-family: 'Lato', sans-serif;
